.banner .nav li {
  @extend .nav-item;
}
.banner .nav a {
  @extend .nav-link;
}
header.banner {
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 15px;
}
body.admin-bar {
  header.banner {
    top: 50px;
  }
}
